.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.adLi{
    width: 85%;
    word-wrap: break-word;
    background-color: rgb(255 227 193);
    font-family: cursive;
    border-radius: 10px;
}
.adButton{
    max-height: 40px;
}